<%- include("header") -%>

    <div class="container">
        <div class="title">
            <h1>
                <%= day%>
            </h1>
            <p>
                <%= today %>
            </p>
        </div>
        <div class="items">

            <% for(var i=0; i<newListItems.length; i++){ %>

                <div class="item">

                    <p>
                        <%= newListItems[i] %>
                    </p>
                    <input type="checkbox">
                </div>

                <% } %>

                    <form action="/" method="post" class="item">
                        <input type="text" name="newItem" id="" placeholder="New task . . ." autocomplete="off">
                        <button type="submit">+</button>
                    </form>
        </div>
    </div>
    </body>

    </html>