<%- include("partials/header") %>
    <div class="box">
        <h1>Contact Us</h1>
        <p class="text">
            <%= contactText %>
        </p>
    </div>
    <%- include("partials/footer") %>