<%- include("partials/header") %>
    <div class="box">
        <h1>
            <%= titles %>
        </h1>
        <p class="text">
            <%= bodys %>
        </p>
    </div>
    <%- include("partials/footer") %>