.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #161853;
}

h1 {
  margin: 7% 0 0;
  font-family: 'Sriracha', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #FAEDF0;
}

p {
  font-size: 2rem;
  color: #EC255A;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
